[Desktop Entry]
Type=Application
Name=Darcy Ripper
Comment=Web spider
Exec=/bin/sh "/opt/darcy/make"
Terminal=false
Icon=/opt/darcy/icon.png
Categories=Network;FileTransfer;
