[Desktop Entry]
Type=Application
Name=yEd Graph Editor
Comment=High-quality diagrams
Exec=/bin/sh "/opt/yed/make"
Terminal=false
Icon=/opt/yed/.install4j/yEd.png
Categories=Development;Java;
