[Desktop Entry]
Type=Application
Name=yEd Graph Editor
Comment=High-quality diagrams
Exec=setsid "java -jar /opt/yed/yed.jar"
Terminal=false
Icon=/opt/yed/.install4j/yEd.png
Categories=Development;Java;
